<%= render 'pages/menu' %>

<div class="span9">

<h2>List users</h2>

<nav>
<ul>
    <li>
	<%= link_to 'New', new_user_path, :class => 'btn btn-primary' %></li>
</ul>
</nav>

<% if @users.empty? %>

  <section>
      <em>No users found</em>
  </section>

<% else %>

  <div class="giant-btn">
      <%= form_tag users_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], :class => 'input-giant' %>
          <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary' %>
        </p>
      <% end %>
  </div>

  <% if params[:search].present? %>
    	<%= render @usersearch %>  

  <% else %>

  	<%= will_paginate %>

  	  <%= render @users %>

  	<%= will_paginate %>

  <% end %>

<% end %>

</div><!--/span-->
</div><!--/row-fluid-->